@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body {
  margin: 0;
  color: #2D2D2D;
  font-size: 20px;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
